<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <template th:include="wechat/common/header_statics :: header('蹄铁商城 - 下单')" th:remove="tag"></template>
    <link rel="stylesheet" th:href="@{/static/css/wechat.css}"/>
</head>
<!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
<body class="layout-top-nav skin-yellow h5-layout" style="height: auto; min-height: 100%;">
<div id="content"  class="wrapper orderform-new product-list" style="height: auto; min-height: 100%;" v-cloak>

    <!-- Full Width Column -->
    <div class="content-wrapper">
        <div class="container">
            <!-- Main content -->
            <section class="content">
                <div class="weui-cells member-address">
                    <a href="javascript:void(0);"
                       v-if="orderForm.deliverToAddress == null || orderForm.deliverToAddress.id == null"
                       class="weui-media-box weui-cell_access weui-media-box_appmsg new-member-address"
                       @click="newAddressActionsheet.$instance.open()">
                        <div class="weui-media-box__hd">
                            <img class="weui-media-box__thumb" th:src="@{/static/image/wechat/add_address.png}" alt="">
                        </div>
                        <div class="weui-media-box__bd">
                            <p class="weui-media-box__desc">新建收货地址</p>
                        </div>
                        <div class="weui-cell__ft"></div>
                    </a>
                    <a href="javascript:void(0);"
                       class="weui-media-box weui-cell_access weui-media-box_appmsg member-address-item"
                       v-if="orderForm.deliverToAddress != null && orderForm.deliverToAddress.id != null"
                       @click="selectAddressActionsheet.$instance.open()">
                        <div class="weui-media-box__bd">
                            <div class="row">
                                <div class="col-xs-6">
                                    <p class="weui-media-box__title">
                                        <i class="fa fa-fw fa-map-marker location"></i>
                                        收货人：{{orderForm.deliverToAddress.name}}
                                    </p>
                                </div>
                                <div class="col-xs-6">
                                    <p class="weui-media-box__title" style="text-align: right">{{orderForm.deliverToAddress.tel}}</p>
                                </div>
                            </div>

                            <p class="weui-media-box__desc">收货地址：{{orderForm.deliverToAddress.address | addressName}}{{orderForm.deliverToAddress.detailAddress}}</p>
                        </div>
                        <div class="weui-cell__ft"></div>
                    </a>
                </div>
                <div class="weui-cells">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <p>
                                <i class="iconfont icon-store" style="font-size: 18px;"></i>
                                蹄铁商城
                            </p>
                        </div>
                    </div>
                    <div class="weui-cell product-item" v-for="item in orderForm.items">
                        <div class="weui-cell__bd">
                            <div class="weui-media-box weui-media-box_appmsg">
                                <div class="weui-media-box__hd">
                                    <img class="weui-media-box__thumb" :src="item.product.coverImage.id | coverPath" alt="item.product.name">
                                </div>
                                <div class="weui-media-box__bd">
                                    <div class="row">
                                        <div class="col-xs-8">
                                            <p class="weui-media-box__title">{{item.product.name}}</p>
                                        </div>
                                        <div class="col-xs-4">
                                            <p class="weui-media-box__title">￥ {{item.product.price | price}}</p>
                                        </div>
                                    </div>

                                    <p class="weui-media-box__title" style="text-align: right">x {{item.count}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <p>配送方式</p>
                        </div>
                        <div class="weui-cell__ft">
                            <p>免运费</p>
                            <p>普通快递</p>
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd"><label class="weui-label">买家留言：</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="text" v-model="orderForm.remark" placeholder="点击给商家留言">
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                            <p>合计</p>
                        </div>
                        <div class="weui-cell__bd" style="text-align: right">
                            <p class="main-text-color">￥{{getTotal() | price}}</p>
                        </div>
                    </div>
                </div>
                <div class="weui-cells">
                    <a href="#content" class="weui-cell" :class="{'weui-cell_access':coupons.length > 0}" @click="selectCoupon">
                        <div class="weui-cell__bd">
                            <p>
                                优惠券
                                <span class="weui-badge" style="margin-left: 5px;" v-if="coupons.length > 0">{{coupons.length}}</span>
                            </p>
                        </div>
                        <div class="weui-cell__ft">
                            <template v-if="orderForm.coupon.amount">
                                - ￥{{orderForm.coupon.amount | price}}
                            </template>
                            <template v-if="!orderForm.coupon.amount && coupons.length > 0">
                                使用优惠券
                            </template>
                            <template v-if="!orderForm.coupon.amount && coupons.length <= 0">
                                暂无可用优惠券
                            </template>
                        </div>
                    </a>
                    <a href="#content" class="weui-cell" :class="{'weui-cell_access':member.salePoint > 0}" @click="selectPoint">
                        <div class="weui-cell__bd">
                            <p>
                                积分抵扣
                            </p>
                        </div>
                        <div class="weui-cell__ft">
                            <template v-if="account.point">
                                - ￥{{account.point/100}}（{{account.point}}）
                            </template>
                            <template v-if="member.salePoint > 0 && !account.point">
                                使用积分
                            </template>
                            <template v-if="member.salePoint <= 0">
                                暂无可用积分
                            </template>
                        </div>
                    </a>
                    <a href="#content" class="weui-cell" :class="{'weui-cell_access':member.balance > 0}" @click="selectBalance">
                        <div class="weui-cell__bd">
                            <p>
                                余额支付
                            </p>
                        </div>
                        <div class="weui-cell__ft">
                            <template v-if="account.balance">
                                - ￥{{account.balance}}
                            </template>
                            <template v-if="member.balance > 0 && !account.balance">
                                使用余额
                            </template>
                            <template v-if="member.balance <= 0">
                                暂无可用余额
                            </template>
                        </div>
                    </a>
                </div>
                <div class="weui-cells">
                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                            <p>商品金额</p>
                        </div>
                        <div class="weui-cell__bd" style="text-align: right">
                            <p>￥{{getTotal() | price}}</p>
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                            <p>运费</p>
                        </div>
                        <div class="weui-cell__bd" style="text-align: right">
                            <p> + ￥0.00</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.container -->
        <actionsheet class="new-address-form"
                     title="新建收货地址"
                     :instance="newAddressActionsheet"
                     @open="onActionsheetOpen"
                     @close="onActionsheetClose"
                     :button="null">
            <template slot="body">
                <div class="weui-cells" style="margin-top: 0;">
                    <div class="weui-cell">
                        <div class="weui-cell__hd"><label class="weui-label">收货人</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="text" v-model="memberAddressForm.name" placeholder="名字">
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd"><label class="weui-label">联系电话</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="text" v-model="memberAddressForm.tel" placeholder="手机或固定电话">
                        </div>
                    </div>
                    <a href="javascript:void(0);" class="weui-cell weui-cell_access" @click="openAddressSelector">
                        <div class="weui-cell__hd"><label class="weui-label">选择地区</label></div>
                        <div class="weui-cell__bd weui-cell__ft" style="text-align: left">{{memberAddressForm.address | addressName}}</div>
                    </a>
                    <div class="weui-cell">
                        <div class="weui-cell__hd"><label class="weui-label">详细地区</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="text" v-model="memberAddressForm.detailAddress" placeholder="如街道，楼层，门牌号等">
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd"><label class="weui-label">邮政编码</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="text" v-model="memberAddressForm.postalCode" placeholder="邮政编码（选填）">
                        </div>
                    </div>
                </div>
            </template>
            <template slot="footer">
                <div class="weui-actionsheet__cell success-btn" @click="saveMemberAddress">保存</div>
            </template>
        </actionsheet>
        <actionsheet class="select-address-form"
                     title="选择收货地址"
                     :instance="selectAddressActionsheet"
                     @open="onActionsheetOpen"
                     @close="onActionsheetClose"
                     :button="null">
            <template slot="body">
                <div class="weui-cells weui-cells_checkbox" style="margin-top: 0;">
                    <label class="weui-cell weui-check__label" v-for="row in memberAddresses" @click="changeDefaultAddress(row)">
                        <div class="weui-cell__hd">
                            <input type="checkbox" class="weui-check" :checked="row.defaultAddress">
                            <i class="weui-icon-checked"></i>
                        </div>
                        <div class="weui-cell__bd">
                            <p>{{row.name}}，{{row.tel}}</p>
                            <p class="desc">收货地址：{{row.address | addressName}}{{row.detailAddress}}</p>
                        </div>
                        <div class="weui-cell__ft" @click="editAddress(row)">
                            <i class="iconfont icon-edit"></i>
                        </div>
                    </label>
                </div>
            </template>
            <template slot="footer">
                <div class="weui-actionsheet__cell second-btn"
                     @click="selectAddressActionsheet.$instance.close();newAddressActionsheet.$instance.open()">
                    <i class="fa fa-fw fa-plus-square"></i>
                    新建地址
                </div>
            </template>
        </actionsheet>
        <div class="page coupon-list" :class="{'js_show slideIn':couponSelector.open,'js_show slideOut':!couponSelector.open && hashchanged}">
            <div class="coupon-card" :class="{expired: coupon.expired}" v-for="coupon in coupons">
                <div class="coupon-body" >
                    <div class="price" v-html="priceFormatter(coupon.amount)">
                    </div>
                    <div class="description">
                        <div class="title">
                            {{coupon.name}}
                        </div>
                        每单达到{{coupon.minAmount | price}}元可使用
                    </div>
                    <div class="status">
                        <i class="iconfont icon-expired" v-if="coupon.expired"></i>
                        <span v-if="!coupon.expired">立即使用</span>
                        <a href="javascript:void(0)"
                           class="weui-btn weui-btn_plain-default btn-claim"
                           v-if="!coupon.expired && orderForm.coupon.id !== coupon.id"
                           @click="useCoupon(coupon)">使用</a>
                        <a href="javascript:void(0)"
                           class="weui-btn weui-btn_plain-default btn-claim"
                           v-if="orderForm.coupon.id === coupon.id"
                           @click="cancelUseCoupon(coupon)">取消</a>
                    </div>
                    <div class="left-circle"></div>
                    <div class="right-circle"></div>
                </div>
                <div class="coupon-footer">
                    有效期： {{coupon.startDate | date}} 至 {{coupon.endDate | date}}
                </div>
            </div>
        </div>
        <div class="page point-selector" :class="{'js_show slideIn':pointSelector.open,'js_show slideOut':!pointSelector.open && hashchanged}">
            <div class="weui-panel weui-panel_access">
                <div class="weui-panel__bd">
                    <div class="weui-media-box weui-media-box_text">
                        <h4 class="weui-media-box__title">我的可用积分：{{member.salePoint}}</h4>
                    </div>
                    <div class="weui-media-box weui-media-box_text">
                        <p class="weui-media-box__desc">请选择要抵扣的积分（100积分 = ￥1.00元）</p>
                        <div class="weui-flex">
                            <div class="weui-flex__item">
                                <a href="javascript:;" class="weui-btn weui-btn_plain-primary" @click="usePoint(100)">100</a>
                            </div>
                            <div class="weui-flex__item">
                                <a href="javascript:;" class="weui-btn weui-btn_plain-primary" @click="usePoint(200)">200</a>
                            </div>
                            <div class="weui-flex__item">
                                <a href="javascript:;" class="weui-btn weui-btn_plain-primary" @click="usePoint(300)">300</a>
                            </div>
                        </div>
                        <div class="weui-flex">
                            <div class="weui-flex__item">
                                <a href="javascript:;" class="weui-btn weui-btn_plain-primary" @click="usePoint(400)">400</a>
                            </div>
                            <div class="weui-flex__item">
                                <a href="javascript:;" class="weui-btn weui-btn_plain-primary" @click="usePoint(500)">500</a>
                            </div>
                            <div class="weui-flex__item">
                                <a href="javascript:;" class="weui-btn weui-btn_plain-primary" @click="usePoint(600)">600</a>
                            </div>
                        </div>
                        <div class="weui-flex">
                            <div class="weui-flex__item">
                                <a href="javascript:;" class="weui-btn weui-btn_plain-primary" @click="otherPoint">其他</a>
                            </div>
                            <div class="weui-flex__item">
                                <a href="javascript:;" class="weui-btn weui-btn_plain-primary" @click="usePoint(null)">不使用</a>
                            </div>
                            <div class="weui-flex__item">
                            </div>
                        </div>
                        <div class="weui-cells" v-if="pointSelector.other">
                            <div class="weui-cell">
                                <div class="weui-cell__bd">
                                    <input class="weui-input" type="number" ref="pointSelectorInput" v-model="account.point" placeholder="请输入积分">
                                </div>
                            </div>
                        </div>
                        <div class="weui-btn-area" v-if="pointSelector.other">
                            <a class="weui-btn weui-btn_primary" href="javascript:" @click="confirmPoint">确定</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page point-selector" :class="{'js_show slideIn':balanceSelector.open,'js_show slideOut':!balanceSelector.open && hashchanged}">
            <div class="weui-panel weui-panel_access">
                <div class="weui-panel__bd">
                    <div class="weui-media-box weui-media-box_text">
                        <h4 class="weui-media-box__title">我的可用余额：{{member.balance}}</h4>
                    </div>
                    <div class="weui-media-box weui-media-box_text">
                        <p class="weui-media-box__desc">请选择要抵扣的余额</p>
                        <div class="weui-flex">
                            <div class="weui-flex__item">
                                <a href="javascript:;" class="weui-btn weui-btn_plain-primary" @click="useBalance(100)">100</a>
                            </div>
                            <div class="weui-flex__item">
                                <a href="javascript:;" class="weui-btn weui-btn_plain-primary" @click="useBalance(200)">200</a>
                            </div>
                            <div class="weui-flex__item">
                                <a href="javascript:;" class="weui-btn weui-btn_plain-primary" @click="useBalance(300)">300</a>
                            </div>
                        </div>
                        <div class="weui-flex">
                            <div class="weui-flex__item">
                                <a href="javascript:;" class="weui-btn weui-btn_plain-primary" @click="useBalance(400)">400</a>
                            </div>
                            <div class="weui-flex__item">
                                <a href="javascript:;" class="weui-btn weui-btn_plain-primary" @click="useBalance(500)">500</a>
                            </div>
                            <div class="weui-flex__item">
                                <a href="javascript:;" class="weui-btn weui-btn_plain-primary" @click="useBalance(600)">600</a>
                            </div>
                        </div>
                        <div class="weui-flex">
                            <div class="weui-flex__item">
                                <a href="javascript:;" class="weui-btn weui-btn_plain-primary" @click="otherBalance">其他</a>
                            </div>
                            <div class="weui-flex__item">
                                <a href="javascript:;" class="weui-btn weui-btn_plain-primary" @click="useBalance(null)">不使用</a>
                            </div>
                            <div class="weui-flex__item">
                            </div>
                        </div>
                        <div class="weui-cells" v-if="balanceSelector.other">
                            <div class="weui-cell">
                                <div class="weui-cell__bd">
                                    <input class="weui-input" type="number" ref="balanceSelectorInput" v-model="account.balance" placeholder="请输入金额">
                                </div>
                            </div>
                        </div>
                        <div class="weui-btn-area" v-if="balanceSelector.other">
                            <a class="weui-btn weui-btn_primary" href="javascript:" @click="confirmBalance">确定</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row tabbar">
        <div class="col-xs-8 total">
            <span>合计：</span>
            <span class="main-text-color">￥{{getFinalTotal() | price}}</span>
        </div>
        <div class="col-xs-4 padding-none">
            <button type="button" class="btn btn-flat submit-order main-btn" @click="submit">提交订单</button>
        </div>
    </div>
    <aside th:replace="wechat/common/aside"></aside>
    <!-- /.content-wrapper -->
</div>
<!-- ./wrapper -->
<footer th:replace="wechat/common/footer_statics"></footer>
<script th:src="@{/static/js/wechat/orderform/new.js}"></script>
</body>
</html>