<div class="home-sidebar" xmlns:th="http://www.thymeleaf.org">
    <a th:href="@{/}" class="link">
        <div class="sidebar-section shop-card">
            <div>
                <img th:src="@{/static/image/wechat/logo.jpg}" height="40" class="shop-img" alt="公众号头像">
            </div>
        </div>
    </a>
    <div class="sidebar-section shop-info">
        <!--<div class="section-detail">

            <p class="text-center weixin-title">微信“扫一扫”立即关注</p>
            <div class="text-center qr-code">
                <img width="158" height="158" src="https://open.weixin.qq.com/qr/code?username=daliandingjun"></div>
            <p class="text-center weixin-no">微信号：daliandingjun</p>
        </div>-->
    </div>
</div>
