<!-- Left side column. contains the sidebar -->
<aside xmlns:th="http://www.thymeleaf.org" class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img th:src="@{/static/image/default_user.jpg}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>超级管理员</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">主菜单</li>
            <li :class="{'active menu-open':obj.active,'treeview':obj.children.length > 0}" v-for="obj in list">
                <template v-if="obj.children.length > 0">
                    <a th:href="@{/admin/index}">
                        <i :class="obj.icon"></i> <span>{{obj.name}}</span>
                        <span class="pull-right-container">
                          <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu" :class="obj.active?'menu-open':''">
                        <li :class="{'active':sub.active}" v-for="sub in obj.children">
                            <a :href="sub.url"><i class="fa fa-circle-o"></i> {{sub.name}}</a>
                        </li>
                    </ul>
                </template>
                <template v-else>
                    <a :href="obj.url">
                        <i :class="obj.icon"></i> <span>{{obj.name}}</span>
                        <span class="pull-right-container">
                            <span class="label label-danger pull-right"> new </span>
                        </span>
                    </a>
                </template>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>