<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <template th:include="admin/common/header_statics :: header('会员列表')" th:remove="tag"></template>
    <link rel="stylesheet" th:href="@{/static/css/admin.css}"/>
</head>
<body class="hold-transition skin-yellow sidebar-mini">
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，奎爷 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->
<!-- Site wrapper -->
<div class="wrapper">
    <header th:include="admin/common/header_html"></header>
    <!-- =============================================== -->
    <aside th:include="admin/common/aside"></aside>
    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                会员等级维护
                <small>会员等级规则维护</small>
            </h1>
            <ol class="breadcrumb">
                <li>会员管理</li>
                <li class="active">会员等级维护</li>
            </ol>
        </section>

        <!-- Main content -->
        <section id="content" class="content" v-cloak>
            <div class="row">
                <div class="col-md-12">
                    <crudgrid
                            domain="memberLevel"
                            :columns="crudgrid.columns"
                            :form-data="formData"
                            :instance="crudgrid"
                    >
                        <template slot="form-body" scope="props">
                            <div class="form-group">
                                <label>名称：</label>
                                <input type="text" class="form-control" required v-model="props.form.name" placeholder="输入会员等级名称">
                            </div>
                            <div class="form-group">
                                <label>需要积分：</label>
                                <input type="text" class="form-control" required v-model="props.form.needPoint" placeholder="输入需要积分">
                            </div>
                        </template>
                    </crudgrid>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer th:include="admin/common/footer_html"></footer>
</div>
<!-- ./wrapper -->
<footer th:include="admin/common/footer_statics"></footer>
<script th:src="@{/static/js/modules/member/level.js}"></script>
</body>
</html>