<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <template th:include="admin/common/header_statics :: header('会员列表')" th:remove="tag"></template>
    <link rel="stylesheet" th:href="@{/static/css/admin.css}"/>
</head>
<body class="hold-transition skin-yellow sidebar-mini">
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，奎爷 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->
<!-- Site wrapper -->
<div class="wrapper">
    <header th:include="admin/common/header_html"></header>
    <!-- =============================================== -->
    <aside th:include="admin/common/aside"></aside>
    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                会员维护
                <small>会员录入与修改</small>
            </h1>
            <ol class="breadcrumb">
                <li>会员管理</li>
                <li class="active">会员维护</li>
            </ol>
        </section>

        <!-- Main content -->
        <section id="content" class="content" v-cloak>
            <div class="row">
                <div class="col-md-12">
                    <crudgrid
                            domain="member"
                            :columns="crudgrid.columns"
                            :form-data="formData"
                            :instance="crudgrid"
                    >
                        <template slot="form-body" scope="props">
                            <div class="form-group">
                                <label>名称：</label>
                                <input type="text" class="form-control" required v-model="props.form.name" placeholder="输入会员名称">
                            </div>
                            <div class="form-group">
                                <label>手机：</label>
                                <input type="text" class="form-control" required v-model="props.form.mobile" placeholder="输入手机">
                            </div>
                            <div class="form-group">
                                <div class="radio">
                                    <label>
                                        <radio value="0" name="gender" v-model="props.form.gender"></radio> 女士
                                    </label>
                                    <label>
                                        <radio value="1" name="gender" v-model="props.form.gender"></radio> 先生
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>生日：</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <datepicker v-model="props.form.birthday"></datepicker>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>身份证：</label>
                                <input type="text" class="form-control" v-model="props.form.idCard" placeholder="输入身份证">
                            </div>
                            <div class="form-group">
                                <label>所在地区：</label>
                                <input type="text" class="form-control" v-model="props.form.address" placeholder="输入所在地区">
                            </div>

                        </template>
                        <template slot="datagrid-operator" scope="props">
                            <a class="btn btn-xs bg-green" @click="editMemberCard(props.row)" title="会员卡"><i class="fa fa-fw fa-credit-card"></i></a>
                        </template>
                    </crudgrid>
                    <sidemodal title="会员卡维护" :footer="true" :instance="cards.sidemodal">
                        <template slot="body">
                            <div class="form-group">
                                <label>会员卡：</label>
                                <button type="button"
                                        class="btn btn-flat btn-success"
                                        @click="openAddMemberCardModal()">
                                    <i class="fa fa-pencil"></i> 添加会员卡
                                </button>
                                <datagrid
                                        :operator="true"
                                        :url="cards.datagrid.url"
                                        :instance="cards.datagrid"
                                        :columns="cards.columns"
                                        :data="cards.sidemodal.form.memberCards"
                                        :query-params="cards.datagrid.queryParams"
                                >
                                    <template slot="operator" scope="props">
                                        <a class="btn btn-xs bg-green" @click="findMemberCard(props.row)" title="修改"><i class="fa fa-pencil"></i></a>
                                        <a class="btn btn-xs bg-red" @click="removeMemberCard(props.row, $event)" title="删除"><i class="fa fa-trash"></i></a>
                                    </template>
                                </datagrid>
                            </div>
                            <!-- /.box-body -->
                        </template>
                        <template slot="footer">
                            <button type="button" class="btn btn-default margin-r-5 btn-flat" @click="cards.sidemodal.$instance.close()">关闭</button>
                        </template>
                    </sidemodal>
                    <validator :instance="cards.validator">
                        <form @submit.prevent="saveMemberCard">
                            <modal title="会员卡维护" :footer="true" :instance="cards.modal">
                                <template slot="body">
                                    <div class="form-group">
                                        <label>会员卡号：</label>
                                        <input type="text" class="form-control" required v-model="cards.form.cardNumber" placeholder="输入会员卡号">
                                    </div>
                                    <div class="form-group">
                                        <label>会员卡类型：</label>
                                        <div class="radio">
                                            <label v-for="data in cardType.list">
                                                <radio :value="data.id" name="cardType" v-model="cards.form.memberCardType.id"></radio> {{data.name}}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>折扣：</label>
                                        <input type="text" class="form-control" required v-model="cards.form.discount" placeholder="输入折扣">
                                    </div>
                                    <div class="form-group">
                                        <label>过期日期：</label>
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <datepicker v-model="cards.form.expireDate"></datepicker>
                                        </div>
                                    </div>
                                    <!-- /.box-body -->
                                </template>
                                <template slot="footer">
                                    <button type="button" class="btn btn-default margin-r-5 btn-flat" @click="cards.modal.$instance.close()">取消编辑</button>
                                    <button type="submit" class="btn btn-primary btn-flat">保存数据</button>
                                </template>
                            </modal>
                        </form>
                    </validator>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer th:include="admin/common/footer_html"></footer>
</div>
<!-- ./wrapper -->
<footer th:include="admin/common/footer_statics"></footer>
<script th:src="@{/static/js/modules/member/list.js}"></script>
</body>
</html>
