<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/common/header_statics :: header('提现审核管理')"></head>
<body class="hold-transition skin-yellow sidebar-mini">
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，奎爷 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->
<!-- Site wrapper -->
<div class="wrapper">
    <header th:include="admin/common/header_html"></header>
    <!-- =============================================== -->
    <aside th:include="admin/common/aside"></aside>
    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                提现审核管理
                <small>提现审核</small>
            </h1>
            <ol class="breadcrumb">
                <li>会员管理</li>
                <li class="active">提现审核管理</li>
            </ol>
        </section>

        <!-- Main content -->
        <section id="content" class="content" v-cloak>
            <div class="row">
                <div class="col-md-12">
                    <div style="background: #fff; margin-bottom: 10px; padding: 10px">
                        <label>认证状态：</label>
                        <label style="margin-right: 5px">
                            <radio name="searchStatus" value="PENDING" v-model="searchStatus"></radio> 待审核
                        </label>
                        <label style="margin-right: 5px">
                            <radio name="searchStatus" value="PASS" v-model="searchStatus"></radio> 已通过
                        </label>
                        <label style="margin-right: 5px">
                            <radio name="searchStatus" value="UN_PASS" v-model="searchStatus"></radio> 未通过
                        </label>
                    </div>
                    <div style="background: #fff; margin-bottom: 10px; padding: 10px">
                        <button type="button" class="btn btn-flat btn-success btn-sm" @click="choseFile">
                            <i class="fa fa-paperclip"></i> 下载提现审核成功记录
                        </button>
                    </div>
                    <crudgrid
                            domain="memberCashInRecords"
                            :columns="crudgrid.columns"
                            :table-transform-response="tableTransformResponse"
                            :form-data="formData"
                            :instance="crudgrid"
                            query-key="collectName"
                    >
                        <!--<template slot="datagrid-operator" scope="props">-->
                            <!--<a v-if="props.row.payOrderState !== 'SUCCESS'&& props.row.payOrderState !== 'IN_PROCESS' && searchStatus==='PASS'"  class="btn btn-xs bg-green" @click="pay(props.row)" title="转账"><i class="fa fa-fw fa-money"></i></a>-->
                        <!--</template>-->

                        <template slot="form-body" scope="props">
                            <div class="form-group">
                                <label>会员：</label>
                                <combobox
                                        class="form-control"
                                        required
                                        :options="member.data"
                                        v-model="props.form.memberId">
                                </combobox>
                            </div>
                            <div class="form-group">
                                <label>提现金额：</label>
                                <input type="text" class="form-control" v-model="props.form.cashAmount" placeholder="输入提现金额">
                            </div>
                            <div class="form-group">
                                <label>收款银行卡卡号：</label>
                                <input type="text" class="form-control" v-model="props.form.collectAccount" placeholder="输入收款银行卡卡号">
                            </div>
                            <div class="form-group">
                                <label>收款人：</label>
                                <input type="text" class="form-control" v-model="props.form.collectName" placeholder="输入收款人">
                            </div>
                            <div class="form-group">
                                <label>流水单号：</label>
                                <input type="text" class="form-control" v-model="props.form.serialNum" placeholder="输入流水单号">
                            </div>
                            <div class="form-group">
                                <label>银行卡银行：</label>
                                <input type="text" class="form-control" v-model="props.form.bankName" placeholder="输入银行卡银行">
                            </div>
                            <div class="form-group">
                                <label>认证状态：</label>
                                <label style="margin-right: 5px">
                                    <radio name="status" value="PENDING" v-model="props.form.status"></radio> 待审核
                                </label>
                                <label style="margin-right: 5px">
                                    <radio name="status" value="PASS" v-model="props.form.status"></radio> 已通过
                                </label>
                                <label style="margin-right: 5px">
                                    <radio name="status" value="UN_PASS" v-model="props.form.status"></radio> 未通过
                                </label>
                            </div>
                            <div class="form-group">
                                <label>提现失败理由：</label>
                                <input type="text" class="form-control" v-model="props.form.reason" placeholder="输入提现失败理由">
                            </div>
                        </template>
                    </crudgrid>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer th:include="admin/common/footer_html"></footer>
</div>
<!-- ./wrapper -->
<footer th:include="admin/common/footer_statics"></footer>
<script th:src="@{/static/js/modules/memberCashInAudit/list.js}"></script>
</body>
</html>
